*{
    padding: 0px;
    margin: 0px;
}
body{
background-color: rgb(190, 106, 120);

}
/* .toi{ */
    /* display: flex;
    justify-content: center;
     */

@media (max-width: 295px){
    .button{
        flex-direction: row !important;
    }
    h5{
        /* padding: 10px 5px !important; */
        border: none;
    }
    .bannerImage{
        height: 100% !important;
        object-fit: cover !important;
    }
    .row{
        width: 100%;
        background-color: yellow;
    }
    .col{
        width: 100%;
    }
    .formulaire1{
        width: 100%;
    }
    .formulaire2{
        width: 100%;
    }
    .formulaire3{
        width: 100%;
    }
}
.toi{
    margin-bottom: 40px;
    width: 100%;
    margin-top: 20px;
}
.toi h5{
    justify-content: center;
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 1px 5px;
    display: inline-block;
    margin-bottom: 20px;
    border: 1px solid;
    /* text-align: center;
    width: 250px;
    margin-left: 150px;
    display: flex; */
    
}
.A{
    display: flex;
    flex-direction: row;
}
.erreur1{
    color: red;
}
.erreur2{
    color: red;
}
.erreur3{
    color: red;
}
.erreur4{
    color: red;
}
.erreur5{
    color: red;
}
.erreur6{
    color: red;
}
.button{
    text-align: center;
    margin-bottom: 20px;
    margin-right: 20%;
}
.button3{
    margin-left: 140px;
}
.toi h2{
     font-family: Multi- SemiBold;
    font-size: 40px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
input{
    padding: 20px;
    margin: 10px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
}
radio{
    padding: 20px;
    margin: 10px;
}
.form-select {
    margin-bottom: 2px solid #e6e6e6;
    padding: 10px;
    margin: 5px;
    
    
}